<div class="row">
    <div class="col-12">
        <input type="text" class="form-control" name="keyword" [placeholder]="'Title' | localize"
            [(ngModel)]="pageTitle" />
      
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="pageContent"></angular-editor>
    </div>
   
</div>
<div class="row mt-2">
    <div class="col-11"></div>
    <div class="col-1 float-left">
        <button class="btn btn-success" (click)="postChanged()">Post</button>
    </div>
</div>